<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/experimental-book-arcade.png" type="image/x-icon">
    {% load static %}
     <link rel="stylesheet" href="{% static 'all_abs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'all_abs/konspekts.css' %}">
    <title>Shelby | {% block abs_title %}{% endblock %}</title>
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li><a href="{% url 'home' %}" class="pop">Главная</a></li>
            <li><a href="{% url 'about' %}" class="pop_about">О сайте</a></li>
            <li><a href="{% url 'abstract' %}" class="pop">Конспекты</a></li>
            <li><a href="{% url 'schedule' %}" class="pop">Расписание</a></li>
            <li><a href="{% url 'homework' %}" class="pop_dz">Домашняя работа</a></li>
        </ul>
    </div>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-uppercase text-center mb-5 color1">Конспект по {% block abs_title_2 %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </header>

        <section class="pictures">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            {% block slide %}{% endblock %}
                        </div>
                        <div class="carousel-inner">
                            {% block content %}{% endblock %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-12">
                    <h1 class="text-center mb-3 redneon">Сразу хочу сказать конспеты будут выкладываться
                        только актуальные, все конспекты раннее будут просто удаляться, возможно)))</h1>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <hr class="hr_neon">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h6 class="text-uppercase text-center footer_neon">www.Shelby.com</h6>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/fslightbox.js' %}"></script>
</body>

</html>