{% extends "main_page/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block title_2 %} {{ title }} {% endblock %}

{% load static %}

{% block link %} {% static 'main_page_css/about.css' %} {% endblock %}


{% block content %}

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-lower text-left mb-5 redneon pl-4">Счастье – это хотеть быть счастливым. Счастье – это иметь возможность выбора: или изменить обстоятельства, или отношение к ним. Счастье – это знать, когда остановиться, а когда продолжать. Счастье – это не зависеть от чужого мнения. Счастье – это не передавать ответственность за свою жизнь в чужие руки или на волю обстоятельств. Счастье – это не брать на себя ответственность за чувства, мысли и поступки других. Счастье – это уметь доверять себе больше, чем другим. Счастье – это верить в себя. Счастье – это не придавать слишком большое значение чужому решению, помнить, что за тобой остается выбор, как воспринимать это решение.</h1>
                </div>
            </div>
        </div>
    </section>

{% endblock %}