:root {
    color-scheme: dark;
    --color-bg-black: rgb(46, 46, 46);
    --main-color1: #be0000;
    --main-color2: #0017af;
}

body {
    background-image: url("../img/wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
    background-attachment: fixed; /* Фон страницы фиксируется */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;

    z-index: 1;
}

#active:checked~.wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 10px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 65%;
    left: 46%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #1a73e8;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
}

.pop_dz {
    text-align: left;
    width: 313px;
}

.pop_about {
    text-align: left;
    width: 171px;
}

.pop {
    text-align: left;
    width: auto;
}


/* Делаем Header */
.color1 {
    color: rgb(15, 76, 189);
    letter-spacing: 5px;
    animation: flicker 1.5s infinite alternate;
    font-size: 2.5em;
}

/* Делаем  main */

.redneon {
    color: #fff;
    text-shadow:            
    0 0 5px rgb(206, 47, 47),
    0 0 10px rgb(206, 47, 47),
    0 0 80px rgb(254, 44, 44),
    0 0 50px rgb(254, 44, 44);
}

/* Делаем footer */

footer {
    padding: 20px 0;
    bottom: 0;
}

.footer_neon {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 5px rgb(77, 94, 246),
        0 0 10px rgb(77, 94, 246),
        0 0 20px rgb(0, 13, 255),
        0 0 40px rgb(0, 13, 255),
        0 0 80px rgb(0, 13, 255),
        0 0 90px rgb(0, 13, 255),
        0 0 100px rgb(0, 13, 255),
        0 0 150px rgb(0, 13, 255);
    letter-spacing: 2px;
}

.hr_neon {
    width: 100%;
    background: linear-gradient(90deg, #403bdb, #0011fe);
    border-radius: 5px;
    height: 4px;
}


@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 5px rgb(77, 94, 246),
            0 0 10px rgb(77, 94, 246),
            0 0 20px rgb(0, 13, 255),
            0 0 40px rgb(0, 13, 255),
            0 0 80px rgb(0, 13, 255),
            0 0 90px rgb(0, 13, 255),
            0 0 100px rgb(0, 13, 255),
            0 0 150px rgb(0, 13, 255);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@media only screen and (max-device-width: 777px) {
    .pop_dz {
        text-align: left;
        width: auto;
    }
}